{
    "presets": ["es2015", "stage-0"],
    "plugins": [
        "transform-runtime",
        ["module-resolver", {
            "alias": {
                "~": "./",
                "@routes": "./routes",
                "@front": "./src/bulma",
                "@judge": "./judge",
                "@models": "./models",
                "@test": "./test"
            }
        }]
    ]
}