//
   Created by rsalesc on 15/08/16.

doctype html
html
    head
        title="Jude Management System"
        link(rel='stylesheet', href='/static-jude/ng-admin.min.css')
    body(ng-app="myApp")
        div(ui-view)
            script(src='/static-jude/ng-admin.min.js', type='text/javascript')
            //srcipt(src='https://ajax.googleapis.com/ajax/libs/angularjs/X.Y.Z/angular-cookies.js', type='text/javascript')
            script(src='/static-jude/js/admin/bundle.js', type='text/javascript')