//
   Created by rsalesc on 17/08/16.
doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    // Codemirror
    script(src='/codemirror/lib/codemirror.js')
    script(src='/codemirror/addon/display/autorefresh.js')
    script(src='/codemirror/mode/javascript/javascript.js')
    script(src='/codemirror/mode/clike/clike.js')
    script(src='/codemirror/mode/python/python.js')

    link(rel='stylesheet', href='/codemirror/theme/ambiance.css')
    link(rel='stylesheet', href='/codemirror/lib/codemirror.css')

    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    div#app

    script(src='https://code.jquery.com/jquery-3.1.0.min.js', integrity='sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=', crossorigin='anonymous')
    script(src='/js/materialize.js')
    // Components
    script(src='/js/components.js')