//
   Created by rsalesc on 17/08/16.
doctype html
html
  head
    meta(charset='utf-8')
    title Jude Contest System
    
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    div#app

    // Components
    script(src='/static-jude/js/bulma/bulma-site.js')