@import "~bulma/css/bulma.css";
@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

html {
  height: 100%;
}

body, html {
  margin: 0;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

/* helpers */
.ju-centered {
  margin: 0 auto;
}

/* component related CSS */

@media only screen and (max-width: 999px) {
  .table .ju-problem-cell {
    width: 80px;
  }
}

@media only screen and (max-width: 768px) {
  .table .ju-problem-cell {
    display: none;
  }

  .table .ju-problem-cell.ju-score-cell {
    display: table-cell;
  }
}

.table .ju-non-official {
  font-style: italic;
}

.ju-override-container {
  width: auto !important;
  max-width: auto !important;
}

.sidemenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 220px;
  height: 100%;
  padding-top: 10px;
  background: white;

  -webkit-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.54);
  -moz-box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.54);
  box-shadow: 2px 0px 12px -1px rgba(0,0,0,0.54);

  li .sidemenu-item {
    display: block;
    margin: 0 10px;
    padding: 10px;
    color: $text;
    text-decoration: none;

    &:hover {
      background: $primary;
      color: white;
    }
  }

  -webkit-transform: translateX(-220px);
	-moz-transform: translateX(-220px);
	-ms-transform: translateX(-220px);
	transform: translateX(-220px);
	-webkit-transition: all .25s linear;
	-moz-transition: all .25s linear;
	-ms-transition: all .25s linear;
	transition: all .25s linear;
}

@media only screen and (max-width: 999px) {
  .sidemenu-active {
    .sidemenu {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }
}

.rule {
  width: 100%;
  display: block;
  margin-top: 16px;
  margin-bottom: 20px;
}

.ju-main-card {
  max-width: 500px;
}

.ju-b-table-less-compact {
  font-size: 0.875em;
  .pagination {
    font-size: 0.8em;
  }
}

.ju-b-table-compact {
  font-size: 0.8em;
  .pagination {
    font-size: 0.75em;
  }
}

.b-table-content tr {
  color: $text !important;
}

.navbar-item > .icon {
  padding-right: 1em;
}

.ju-circle {
  border-radius: 50%;
  width: 1.5em;
  font-size: 1.5em;
  color: #666;
  border: 1px solid #666;
  padding-left: 2px;

  span {
    text-align: center;
    line-height: 1.5em;
    display: block;
    transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
  }
}

.table.ju-standings {
  td, th {
    vertical-align: middle;
  }
}

@media only screen and (min-width: 769px) {
  .table .ju-contestant-cell {
    min-width: 300px;
  }
}

.table .ju-problem-cell {
  text-align: center;
  vertical-align: middle;
  width: 128px;

  &.ac-color {
    color: green;
    background-color: rgba(139, 195, 74, 0.4) !important;
  }

  &.wa-color{
    color: red;
    background-color: rgba(255, 164, 156, 0.4) !important;
  }

  .fails {
    color: red;
    @extend .ju-secondary-text;
  }
}

/* text related CSS */
.ju-comment {
  color: #777;
}

.ju-secondary-text {
  font-size: .75em;
}

.ju-tertiary-text {
  font-size: .675em;
}

.ju-score-info {
  @extend .ju-comment;
  @extend .ju-tertiary-text;
}

/* INDETERMINATE */

@-webkit-keyframes greenglow {
    from {
        left:-40%;
    }
    to {
        left:100%;
    }
}
@-moz-keyframes greenglow {
    from {
        left:-40%;
    }
    to {
        left:100%;
    }
}
@-o-keyframes greenglow {
    from {
        left:-40%;
    }
    to {
        left:100%;
    }
}
@keyframes greenglow {
    from {
        left:-40%;
    }
    to {
        left:100%;
    }
}
.indeterminate {
    width:100%;
    height:3px;
    position:relative;
    overflow:hidden;
    background: #E6E6E6;
}

.indeterminate.active:after {
    content: " ";
    display:block;
    width:40%;
    top:-50%;
    height:250%;
    position:absolute;
    animation: greenglow 1s linear infinite;
    -webkit-animation: greenglow 1s linear infinite;
    z-index:2;
    background: $primary;
}
  